* {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	position: relative;
	width: 80%;
	margin: 0 auto;
	transition: all 0.2s linear;
}

.btn {
	padding: 0.6em 1em;
	border: none;
	background: linear-gradient(to right, rgb(34, 122, 236), rgb(138, 96, 238));
	color: #fff;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	border-radius: 50px;
	font-size: 1.8em;
	transition: all 200ms linear;
}
.btn:hover {
	box-shadow: 0px 0px 0px 4px rgb(255, 255, 255),
		0px 0px 0px 8px rgb(34, 122, 236);
	/* margin: 0.8em 1.2em; */
}

.link {
	background: linear-gradient(to right, rgb(34, 122, 236), rgb(138, 96, 238));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
}
.link::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	background: linear-gradient(to right, rgb(34, 122, 236), rgb(138, 96, 238));
	bottom: -4px;
	transition: all 0.2s ease-in-out;
}

.link:hover::before {
	width: 100%;
}

p {
	text-align: center;
}
:root {
	--color-toggler: black;
}
input[type="checkbox"] {
	appearance: none;
	border: 2px solid var(--color-toggler);
	width: 49px;
	height: 28px;
	border-radius: 20px;
	position: relative;
	transform: translateY(0.125em);
}
input[type="checkbox"]::before {
	content: "";
	position: absolute;
	/* transform: translateX(0%); */
	margin: 2px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--color-toggler);
	transition: all 0.2s linear;
}

input[type="checkbox"]:checked::before {
	transform: translateX(101%);
	background-color: #fff;
}
